body {
    font-family: 'Source Sans Pro', sans-serif;
}


.stats {
    margin-left: 5px;
}

.label {
    color: #AAA;
}


.controls .btn {
    padding: 0 0.5rem;
}

.container {
    width: 100%;

}


.icon {
    padding-top: 7px;
    color: white;
}

body {
    padding: 20px;
}


